<% form_for @asset, :html => {:multipart => true} do |form| %>
	<%= form.error_messages %>
	<fieldset  title='Contributor Information'>
	
		<legend>Contributor Information</legend>
		
		<%= form.label :contributor_name %>
		<%= form.text_field :contributor_name %><br/>
	
		<%= form.label :contributor_email %>
		<%= form.text_field :contributor_email %><br/>
	
	</fieldset>
	
	<fieldset title='Asset Information'>
		
		<legend>Asset Information</legend>
		
		<%= form.label :asset %>
		<%= form.file_field :asset %><br/>
		
		<%= form.label :name %>
		<%= form.text_field :name %><br/>
		
		<%= form.label :description %>
		<%= form.text_field :description %><br/>
		
		<%= form.label :tag_list %>
		<%= form.text_field :tag_list %><br/>
		
		<p align='right'><%= submit_tag 'Contribute!' %></p>
		
<% end %>